# Ignore node_modules di frontend dan backend
frontend-todo-app/node_modules/
backend-todo-app/node_modules/

# Ignore environment variables
backend-todo-app/.env

# Ignore build output
frontend-todo-app/dist/
backend-todo-app/build/

# Ignore logs
logs/
*.log

# Ignore temporary files
*.tmp
*.swp
.DS_Store

.vscode/